.git
vendor
node_modules
tests
!docker
bootstrap/cache/*
!bootstrap/cache/*.gitignore
storage/fifo/*
!storage/fifo/.gitignore
storage/framework/cache/data/*
!storage/framework/cache/*.gitignore
!storage/framework/cache/data/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore
art
enter
enters
build
exec
npm
php
run
spinup
supervisord.pid
composer.phar
public/timelapse
database/database.sqlite